.zagolovok{
    background-color: blueviolet;
}
.grid-contoiner {
  display: grid;
  height: 100vh;
  width: 60vh;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
  "f1 f2 f3"
  "f1 f5 f3"
  "f1 f6 f3"
  "f1 f7 f3"
  "f1 f8 f3"
  "f1 f9 f3"
  "f1 f10 f3"
  "f1 f4 f3"
}


.borderbox
{
  background-color: #decfec;
  border: 2px solid #e77af5;
  border-radius: 180px;
  
}
.borderbox-text
{
  height: 25px;
  width: 200px;
}
.form
{
  width: 350px;
  height: 40px;
}
.button {
  width: 120px;
  height: 35px;
  text-align: center

}
.borderelement {
  background-color: #EEDDFF;
  border: 6px solid #e77af5;
  border-radius: 180px;
}
  .f1{
  grid-area: d1;
}
.f2{
  grid-area: d2;
}
.f3{
  grid-area: d3;
}
.f4{
  grid-area: d4;
}
.f5{
  grid-area: d5;
}
.f6{
  grid-area: d6;
}
.f7{
  grid-area: d7;
}
.f8{
 grid-area: d8;
}
.f9{
 grid-area: d9;
}
.f10{
 grid-area: d10;
}